*.class
*.log
snappy-spark

# sbt specific
.cache/
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
*.iml

# Emacs files
.#*
*~

# Spark Files
metastore_db/
