[submodule "spark-jobserver"]
	path = spark-jobserver
	url = https://github.com/SnappyDataInc/spark-jobserver.git
	branch = snappydata
[submodule "snappy-store"]
	path = store
	url = https://github.com/SnappyDataInc/snappy-store.git
	branch = snappy/master
[submodule "spark"]
        path = spark
        url = https://github.com/SnappyDataInc/spark.git
        branch = snappy/branch-2.1 

