[submodule "spark-jobserver"]
	path = spark-jobserver
	url = https://github.com/TIBCOSoftware/snappy-spark-jobserver.git
	branch = snappydata
[submodule "snappy-store"]
	path = store
	url = https://github.com/TIBCOSoftware/snappy-store.git
	branch = snappy/master
[submodule "spark"]
        path = spark
        url = https://github.com/TIBCOSoftware/snappy-spark.git
        branch = snappy/branch-2.1 
[submodule "aqp"]
	path = aqp
	url = https://github.com/TIBCOSoftware/snappy-aqp.git
[submodule "snappy-connectors"]
	path = snappy-connectors
	url = https://github.com/TIBCOSoftware/snappy-connectors.git
