*.class
aqp
!core/**/aqp
benchmarking/
hydraLogs/
snappy-connectors/
snappy-poc/
vm_*

# sbt specific
.cache/
.history
.lib/
dist/*
build-artifacts/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# gradle specific
.gradle/
buildOutput.log

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
*.iml

# Emacs files
.#*
*~
