@import "compass/css3";
body {
    padding-top: 70px;
    background: none;
    background-attachment: fixed;
    background-color: #fff;
}

body > div.container {
    min-height: 400px;
    margin-top: 20px;
}

ul.nav li.main {
    font-weight: bold;
}

div.col-md-3 {
    padding-left: 0;
}

div.col-md-9 {
    padding-bottom: 100px;
}

div.source-links {
    float: right;
}

div.col-md-9 img {
    max-width: 100%;
    display: inline;
    padding: 4px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 20px auto 30px auto;
}
/*
h1, h2, h3 {
    color: #444;
    font-weight: bold;
}

h1[id]:before, h2[id]:before, h3[id]:before, h4[id]:before, h5[id]:before, h6[id]:before {
    content: "";
    display: block;
    margin-top: -75px;
    height: 75px;
    pointer-events: none;

}

h1 {
    font-weight: bold;
    font-size: 3em;
    font-variant: small-caps;
    text-transform: lowercase;
}

h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-variant: small-caps;
    text-transform: lowercase;
}

hr {
    border-top: 1px solid #aaa;
}

pre, .rst-content tt {
    max-width: 100%;
    background: #fff;
    border: solid 1px #e1e4e5;
     color: #dbd6d6;
    background-color: #383737;
    overflow-x: auto;
}

code.code-large, .rst-content tt.code-large {
    font-size: 90%;
}

code {
    padding: 2px 5px;
    color: #ea8e0c;
    background-color: #fcf3e0;
    font-size: 75%;
}

code, kbd, pre, samp  {
    font-family: monospace,serif;
    font-size: 12px !important;
}
*/

footer {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 200;
}

.modal-dialog {
    margin-top: 60px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    background-color:#ea8e0c;
    border-left:4px solid #ea8e0c;
}

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
    position: static;
}

.bs-sidebar.well {
    padding: 0;
}

/* First level of nav */
.bs-sidenav {
    padding-bottom: 0px;
    border-radius: 0px;
    background-color:#fff;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
    display: block;
    font-size: 1em;
    padding: 10px 20px;
    z-index: 1;
    color: #454444;

}
.bs-sidebar .nav> .active > li{
    border-left: 4px solid #f9c308;
}
.bs-sidebar .nav > li{
    border-bottom:1px solid #ddd;
    
}
.bs-sidebar .nav > li > a:active,
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
    text-decoration: none;
    border-left: 4px solid #f9c308;
 
}

.bs-sidebar .nav > li > a:hover, .bs-sidebar .nav > li > a:focus{
    border-left: 4px solid #f9c308;
}
.bs-sidebar .nav > .active >li,
.bs-sidebar .nav > .active:hover >li,
.bs-sidebar .nav > .active:focus >li{
    font-weight: bold;
    background-color: transparent;
    border-left: 4px solid #f9c308;
}

.navbar{
background-color: #000;
border:none;
background-image: linear-gradient(#000,#000 60%,#000);
background-repeat: no-repeat;
border-bottom: none;

}

.nav_head{
    font-size: 2em;
    padding-left: 23px;
    font-variant: small-caps;
    color:#ea8e0c;
    font-weight: bold;
    padding-top: 0px;
}

.navbar-default .navbar-nav>.active>a,.navbar-default,.navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    background-color: #ea8e0c;
}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus{
    background-color: #ea8e0c;
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{
    background-color: #ea8e0c;
}

.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus{
    background-color: #ea8e0c;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus{
    background-color: #ea8e0c;
}
/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
    display: none; /* Hide by default, but at >768px, show it */
    margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
    padding-top:    3px;
    padding-bottom: 3px;
    padding-left: 30px;
    font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
    .bs-sidebar .nav > .active > ul {
        display: block;

    }
    /* Widen the fixed sidebar */
    .bs-sidebar.affix,
    .bs-sidebar.affix-bottom {
        width: 213px;
    }
    .bs-sidebar.affix {
        position: fixed; /* Undo the static from mobile first approach */
        top: 80px;
    }
    .bs-sidebar.affix-bottom {
        position: absolute; /* Undo the static from mobile first approach */
    }
    .bs-sidebar.affix-bottom .bs-sidenav,
    .bs-sidebar.affix .bs-sidenav {
        margin-top: 0;
        margin-bottom: 0;
    }
}
@media (min-width: 1200px) {
    /* Widen the fixed sidebar again */
    .bs-sidebar.affix-bottom,
    .bs-sidebar.affix {
        width: 233px;
        margin-top: 35px;
    }
}

.headerlink {
    font-family: FontAwesome;
    font-size: 14px;
    display: none;
    padding-left: .5em;
}

h1:hover .headerlink, h2:hover .headerlink, h3:hover .headerlink, h4:hover .headerlink, h5:hover .headerlink, h6:hover .headerlink{
    display:inline-block;
}




.admonition {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: left;
}

.admonition.note {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.admonition.warning {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
}

.admonition.danger {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.admonition-title {
    font-weight: bold;
    text-align: left;
}


.dropdown-submenu {
    position: relative;
    margin-left: 20px;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -10px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

a {
    color:#ea8e0c;
}

.navbar-brand{
        padding: 9px 15px;
}
