/* Remove the edit page link */
.md-content__button {
    display: none;
}

/* Compact the footer */
.md-footer__inner {
    padding: 4px;
}
.md-footer__link {
    padding: 8px 0 2px;
}
.md-footer__direction {
    position: absolute;
    right: 0;
    left: 0;
    margin-top: -16px;
}
.md-footer__title {
    font-size: 14px;
    padding: 12px 20px 0;
    line-height: 24px;
}
.md-footer__button {
    margin: 0;
    padding: 4px;
}
.md-footer-copyright {
  margin: 0 8px;
  padding: 4px 0;
}
.md-footer-generator {
    margin: 0 8px;
    padding: 4px 0;
    color: var(--md-footer-fg-color--lighter);
    font-size: 12.8px;
}

/* Improve horizontal rule */
.md-typeset hr {
    border-bottom: .1rem solid rgba(0,0,0,.26);
}

/* Increase logo width else SnappyData looks squished. */
.md-logo img {
    width: 36px ! Important;
    height: auto;
}

/* Add vertical rhythm
 * Based on example 5 of https://tympanus.net/codrops/2012/11/02/heading-set-styling-with-css/
.md-main {counter-reset: section-1, section-2, section-3, section-4;}
*/

.md-main h1 {
    margin: 0.8em 0 0.5em 0;
    color: #333;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    /*
    counter-increment: section-1;
    counter-reset: section-2 section-3 section-4;
    */
}

.md-main h2 {
    margin: 0.8em 0 0.5em 0;
    color: #333;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 rgba(0,0,0,0.1);
    padding-bottom: 10px;
    /*
    counter-increment: section-2;
    counter-reset: section-3 section-4;
    */
}

.md-main h3 {
    margin: 0.8em 0 0.5em 0;
    color: #333;
    font-weight: normal;
    font-size: 22px;
    line-height: 40px;
    /*
    counter-increment: section-3;
    counter-reset: section-4;
    */
}

.md-main h4 {
    margin: 0.8em 0 0.5em 0;
    color: #333;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* counter-increment: section-4; */
}

a.citation-wikilink {
    font-style: italic;
}

/* Center figure and img elements */
figure {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

/* Table style */
table {
    background-color: #eee;
}

tr:hover {
    background-color: #f5f5f5;
}

/* Change color background of code examples and admonitions */
.md-typeset .codehilite code,
.md-typeset .codehilite pre,
.md-typeset .highlight code,
.md-typeset .highlight pre {
    background-color: #dfe2f1;
}

.md-typeset .admonition,
.md-typeset details {
    background-color: #eee;
}

/* Change color background of `monospace` elements used in markdown pages */
.md-typeset .codehilite, .md-typeset .highlight {
    background-color: rgba(144, 144, 144, 0.10);
}

/* Decrease font-size e.g in <pre class="small-text"> elements */
.small-text {
    font-size: 10px !important;
}

pre.small-text {
    font-size: 10px !important;
}

/* This to solve the conflict between bootstrap and jquery-ui close button.
 * https://stackoverflow.com/questions/17367736/jquery-ui-dialog-missing-close-icon
.ui-dialog-titlebar-close {}
 * */

.ui-dialog-titlebar-close:after {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    /* background-image: url(../images/ui-icons_555555_256x240.png); */
    background-position: -96px -128px;
    background-repeat: no-repeat;
}

/*
.ui-dialog { position: fixed; padding: .1em; width: 50px; overflow: hidden; }
*/

.ui-dialog-titlebar .PinDialog, .ui-dialog-titlebar .DialogPinned {
    float: left;
    height: 20px;
    margin: 0 5px 0 -10px;
    padding: 1px;
    top: 50%;
    width: 20px;
}

/* Set z-index to 0 to elements that otherwise would appear above the menu bar upon scrolling. */
.custom-search-form {
    z-index: 0;
}
