.wy-side-nav-search {
 /* background-color: #3ca980;*/
  background: #48bd90;	
}

.wy-side-nav-search > a:hover, .wy-side-nav-search .wy-dropdown > a:hover {
    background: #48bd90;
}

a.icon.icon-home:before {
  background:url('../../Images/logo.png');
  width: 208px;
  height: 59px;
  content: '';
  background-repeat: no-repeat;
}

a.icon.icon-home {
  font-size: 16px;
  text-align: center;	
  margin-bottom: 0;
  color: #FFFFFF;
}

div.section blockquote {
  line-height: 20px;
  background: #f8f8f8;
  padding: 9px;
  border: 1px solid #eee;
  border-left: 5px solid #eee;
}

div.section blockquote p:last-of-type {
  margin-bottom: 0;
}
