.wy-side-nav-search {
 /* background-color: #0081cb;*/
  background: #FFFFFF;	
}

.wy-side-nav-search > a:hover, .wy-side-nav-search .wy-dropdown > a:hover {
    background: #FFFFFF;
}

a.icon.icon-home:before {
  background:url('../../Images/logo.png');
  width: 250px;
  height: 100px;
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  background-size: 175px;
}

a.icon.icon-home {
  font-size: 16px;
  text-align: center;	
  margin-bottom: 0;
  color: #0081cb;
}

div.section blockquote {
  line-height: 16px;
  background: #F8F8F8;
  padding: 9px;
  border: 1px solid #eee;
  border-left: 5px solid #eee;
}

div.section blockquote p:last-of-type {
  margin-bottom: 0;
}
