/*
 * Tweak the overal size to better match RTD.
 */

/*
body {
    width:100%;
    background:none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding: 0px;
    margin: 0px;
    color: #282828;
}
.wy-grid-for-nav{
  position: relative !important; 
}


@media only screen and (max-width : 800px){

.content_container{
  width:70%;
  }
.wy-grid-for-nav{
  position: relative !important;
}

.wy-nav-side {
    height: 100%;
    overflow-y: auto;
    position: relative;
    float: left;
    left: 10px !important;
    background: none;
    width:300px;
}

#menu-icon {
    display:inline-block;
    width: 30px !important;;
    height:30px !important;;
  }

  .wy-grid-for-nav{
    position:relative !important;
  }

.holder{
    width: 100% !important;

  }

.wy-nav-side {
    height: 100%;
    overflow-y: auto;
    position: relative;
    float: left;
    background: none;
    width:300px !important;
}

 .navholder{
    width: 100% !important;

  }
.navholder nav ul, .navholder nav:active ul { 
    list-style: none;
    text-align: left;
    display: none;
    position: absolute;
    padding: 30px;
    background: #000;
    right: 0px;
    top: 10px;
    width: 50%;
    z-index: 300;
  }

  .navholder nav{
    width:100%;
  }

  .navholder nav li {

    text-align: left !important;
    width: 100%;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;

  }

  .navholder nav:hover ul {

    display: block;

  }
  .content_container {
    max-width: 100% !important;
  }
  .container{
    padding: 0px !important;
  }
}

@media only screen and (max-width : 1025px){

  .navholder{
  width: 100% !important;
}
}

@media only screen and (max-width: 1900px){
.navholder {
    width: 100% !important;
}
}


h3, h4, h5, h6 {
    color: #2980b9;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.logo{
  float: left;
  margin-top: 2px;
  background: url(../img/openbaton.png) center;
  width: 120px;
  height:30px;
  margin-left: 10px;

}

.navcontainer {
  width: 100%;
  background:#000;
  height: 55px;

}

.navigation li{
  border:none;
  float: left;
  display: inline-block;
  font-size: 15px;

}
.navigation{
    float: right;
    border:none;
    list-style: none;
    float:right;
    margin-top: 0px;

}


  
  .navigation a { 
    text-align: center; 
    display:block;
    padding: 0px 30px 0px 0px;
    color: #fff;
    text-decoration: none;

  }

  
.navigation li:last-of-type a {
    border-bottom: none;

  }

.navholder{
width: 60%;
margin: 0px auto;
text-align: center;
padding-top: 10px;


}

#menu-icon {
  display: hidden;
  width: 0px;
  height:0px;
  margin-right: 20px;
  background: #ea8e0c url(../img/menu-icon.png);
  float: right;

}

*/
a:hover#menu-icon {

  background-color: #444;


}

.container {
  display: block;
  width: 100%;
  margin: 0 auto;font-size;
  padding:1em 4em 3em 0em;
  overflow:auto;


}

  .wy-nav-content{
    width: 100%
  }


.holder{
  width: 90%;
  margin: 0 auto;
  text-left: center;
  display: block;

}

.wy-nav-content-wrap {
    background:none;
}

li.current{
    background:none;
    border-left:4px solid #f9c308;
}


li.subnav_drop a:hover, .subnav a:hover, a:active, .subnav li a:hover  {
    background:none;
    border-left:4px solid #f9c308;
}

.wy-menu ,.wy-menu-vertical{
    border:1px solid #e1e1e5;
}

.subnav li {
    
    border-bottom:1px solid #e1e1e5;
}

.wy-menu-vertical li{
   font-size: 15px;
}
.wy-side-nav-search {
    z-index: 200;
    background-color: #ea8e0c;
    text-align: center;
    padding: 0.809em;
    display: block;
    color: #fcfcfc;
    margin-bottom: 0.809em;
}

.wy-side-nav-search input[type=text] {
    width: 100%;
    border-radius: 50px;
    padding: 6px 12px;
    border-color: #ea8e0c;
}
.rst-versions {
    visibility: hidden;

}
.toctree-l1  a{
    padding-top: 10px;
    padding-bottom: 10px;

}

/*
h1, h2{
    font-variant: small-caps;
    text-transform: lowercase;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size:3em;
    line-height: 1.2em;
}
*/

.wy-nav-content a:link, .wy-nav-content a:hover, .wy-nav-content a:hover:{
    color: #ea8e0c;
}

a {
    color: #ea8e0c;
    text-decoration: none;
}

a:hover{
    color: #ea8e0c;
    text-decoration: none;
}
/*
 * Sphinx doesn't have support for section dividers like we do in
 * MkDocs, this styles the section titles in the nav
 *
 * https://github.com/mkdocs/mkdocs/issues/175
 */
.wy-menu-vertical span {
    line-height: 18px;
    padding: 0.6045em 0em 0.6045em 1.4045em ;
    display: block;
    position: relative;
    font-weight: bold;
    color: #282828;
    border-bottom:1px solid #e1e1e5;
}

.wy-menu-vertical span:last-child{
    border:none;
} 

.wy-menu-vertical li ul li a{
    color: #282828;
}
.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a {
   padding: 0.6045em 0em 0.6045em 2.4045em ;
   color: #282828;
    }
.wy-menu-vertical a {
    padding: 0.6045em 0em 0.6045em 2.4045em ;
    color: #282828;
    }



nav.stickynav {
    position: relative;
    float: left;
    /* top: 0; */
}

.margin-bottom{
    margin-bottom:none;
}

.wy-menu, .wy-menu-vertical{
    margin-top: 40px;
}

.wy-menu-vertical li.current a{
    border-right: none;
    font-variant: normal;
    border-bottom:1px #e1e1e5;
}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a{
    font-weight: normal;
}

@media screen and (min-width: 1400px){
.wy-grid-for-nav {
    position: relative;
    margin: 0 auto;

    }
}
.wy-nav-content{
  padding:2.7em 0em 0em 3em;
  width: 100%;
  max-width: 100%;
}


.wy-menu-vertical li.current {
    background: none;
    border-right:none;
}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a{
    border-bottom: none;
    border-top:none;
    background:none;
}
/*
 * Long navigations run off the bottom of the screen as the nav
 * area doesn't scroll.
 *
 * https://github.com/mkdocs/mkdocs/pull/202
 */
.wy-nav-side {
    height: 100%;
    overflow-y: auto;
    position: relative;
    float: left;
    background: none;
    width:28%;
}

.content_container{
    max-width: 68%;
    float: left;
}

.wy-nav-content-wrap{
    margin: 0;
}
/*
 * readthedocs theme hides nav items when the window height is
 * too small to contain them.
 *
 * https://github.com/mkdocs/mkdocs/issues/#348
 */
.wy-menu-vertical a {
  font-size: 15px;
}

/*
/*
 * Fix wrapping in the code highlighting
 *
 * https://github.com/mkdocs/mkdocs/issues/233
 */
code {
    white-space: pre;
}

/*
 * Wrap inline code samples otherwise they shoot of the side and
 * can't be read at all.
 *
 * https://github.com/mkdocs/mkdocs/issues/313
 */
p code {
    word-wrap: break-word;
}


/*
 * The CSS classes from highlight.js seem to clash with the
 * ReadTheDocs theme causing some code to be incorrectly made
 * bold and italic.
 *
 * https://github.com/mkdocs/mkdocs/issues/411
 */
code.cs, code.c {
    font-weight: inherit;
    font-style: inherit;
}

code, .rst-content tt {
    padding: 2px 5px;
    color: #ea8e0c;
    background-color: #fcf3e0;
    font-size: 100%;
    border:none;
}
/*
 * Fix some issues with the theme and non-highlighted code
 * samples. Without and highlighting styles attached the
 * formatting is broken.
 *
 * https://github.com/mkdocs/mkdocs/issues/319
 */
.no-highlight {
  display: block;
  padding: 1em;
  color: #333;
}


/*
 * Additions specific to the search functionality provided by MkDocs
 */

#mkdocs-search-results article h3
{
    margin-top: 23px;
    border-top: 1px solid #E1E4E5;
    padding-top: 24px;
}

#mkdocs-search-results article:first-child h3 {
    border-top: none;
}

#mkdocs-search-query{
    width: 100%;
    border-radius: 50px;
    padding: 6px 12px;
    border-color: #D1D4D5;
}

.wy-menu-vertical li ul {
    display: inherit;
}

.wy-menu-vertical li ul.subnav ul.subnav{
    padding-left: 1em;
    color: #282828;
}

..wy-nav-content {
    background:#fff;
}

@media screen and (min-width: 1400px){
    .wy-nav-content {background:none;}
}
*/
