.toc {
  background: #e1e1e1;
  display: inline-block;
  padding: 1em 1em 0em 1em;
  margin: 1em;
  float: right;
}

.toc::before {
  content: "On this page:";
  font-size: 110%;
  font-weight: bold;
}
