html {
    font-size: 10pt;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*
Formatting for body text
*/
p{
font-size: 14px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*
Formatting for headings
*/

h1{
    color: #000000;
    font-size: 20pt;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #e8e9ea;
}


h2{
    color: #335183;
    font-size: 18pt;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


h3{
    color: #404040;
    font-size: 16pt;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border-bottom: thin double #e0e0e0;
}

h4 {
    color: #404040;
    font-size: 14pt;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;
}


/*
Defines the indetation for the navigation pane
*/

.wy-menu-vertical li.current > a::before {
    content: url("Images/arrow-20x20-expanded.png");
    float: left;
    line-height: 18px;
    padding: 0em 0em;
    display: block;
    position: relative;

    color: #838383;
}
/*
.wy-menu-vertical li > a[class="toctree-l4"]{
    line-height: 18px;
    padding: 0.1em 0.1em;
    display: block;
    position: relative;
  margin-left: 10px;
}

*/

.wy-menu-vertical li > a[class="toctree-l4"]::before {
    line-height: 11px;
    padding: 0.1em 0.1em;
    display: block;
    position: relative;
  content: url("Images/dash-20x20-collapsed.png");
  float: left;
}


/*
Formatting for code snippets 
*/

pre code {
  white-space: pre;
  word-wrap: normal;
  display: block;
  padding: 12px;
  background-color: #f5f6f6;
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
  font-size:12px;
}

/*
Formatting for inline code  
*/

code {
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 2px 5px;
}


pre .cs, pre .c {
    font-weight: inherit;
    font-style: inherit;
}

/*
Formatting for information in the Note
*/

note {
    color: green;
    font-size: 14px;
    font-style: italic;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*
Formatting for Glossary Term
*/

glossary {
    color: black;
    font-size: 25px;
    font-style: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

glossaryterm {
    color: Blue;
    font-size: 16px;
    font-style: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

glossarytext {
    color: black;
    font-size: 14px;
    font-style: normal;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Image Alignment - Center
*/
img {
    display: block;
    background-color: transparent;
    border: none;
    margin: 0px auto;
}

/*
Formatting for text for review/comments purpose only
*/

mark {
    color: red;
    font-size: 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #f6f3d7;
}
