html {
    font-size: 90%;
}

h1{
    color: #000000;
    font-weight: 500
    font-style: "Tahoma", sans-serif;
}


h2{
    color: #335183;
    font-weight: 400
    font-style: "Tahoma", sans-serif;
    background-color: #e8e9ea;
}


h3{
    color: #404040;
    font-weight: 300
    font-style: "Tahoma", sans-serif;
    border-bottom: thin double #000000;
}

h4, h5, h6 {
    color: #404040;
    font-weight: 300
    font-style: "Tahoma", sans-serif;
}

.wy-menu-vertical li > a:before {
    content: url("Images/arrow-20x20-collapsed.png");
    float: left;
}

.wy-menu-vertical li.current > a::before {
    content: url("Images/arrow-20x20-expanded.png");
    float: left;
}

.wy-menu-vertical li > a[class="toctree-l4"]{
  margin-left: 15px;
}

.wy-menu-vertical li > a[class="toctree-l4"]::before {
  content: url("Images/dash-20x20-collapsed.png");
  float: left;
}
